* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 메인메뉴 */
.main-menu {
  background-color: yellow;
  display: flex;
  margin: 0;
  padding: 0;

  li {
    position: relative;
  }

  a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
  }
  /* 마우스over동안 서브메뉴 보이기 */
  li:hover > .sub-menu {
    display: block;
  }
}

/* 서브메뉴 */
.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  margin: 0;
  padding: 0;

  background: white;
  width: 180px;

  /* 서브메뉴 항목 */
  li a {
    display: block;
    padding: 10px 20px;
    background-color: yellowgreen;
  }
}
